@using FINALTEST1.Models
@model DonatorsPage
@{
    ViewData["Title"] = "Edit Amount and Validated";
}

<form action="~/Funds4Safety/EditMonetary" method="post">
    <div class="container">
        <div class="card bg-light shadow p-5 mt-5 mx-auto w-40rem">
            <h1 style="text-align: center; font-size: 45px; font-weight: bold;">Edit</h1>
            <hr />
            <div class="form-group">
                <input type="hidden" name="MonetaryID" value="@Model.MonetaryID" />
            </div>
            <div class="form-group">
                <label>Amount</label>
                <input type="text" name="Amount" value="@Model.Amount" />
            </div>
            <div class="form-group">
                <label>Validation Status</label>
                <input type="text" name="Validate" value="@Model.Validate" disabled />
            </div>
            <div class="form-group">
                <label>True</label>
                <input type="radio" name="Validate" value="True">
                &nbsp;&nbsp;&nbsp;
                <label>False</label>
                <input type="radio" name="Validate" value="False">
            </div>
            <button type="submit" class="btn btn-success">Save Changes</button>
            <br />
            <div class="form-group">
                <a type="button" class="btn btn-primary" asp-action="Donators">Go Back</a>
            </div>
        </div>
    </div>
</form>