@using FINALTEST1.Models
@model DonatorsPage
@{
    ViewData["Title"] = "Edit Monetary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h1 style="text-align: center; font-size: 45px; font-weight: bold;">Edit</h1>

<br />
<form action="~/Funds4Safety/EditMonetary" method="post">
    <input type="hidden" name="MonetaryID" value="@Model.MonetaryID" />
    Amount
    <input type="text" name="Amount" value="@Model.Amount" />
    <br />
    Validation Status
    <input type="text" name="Validate" value="@Model.Validate" disabled />
    <br />
    True
    <input type="radio" name="Validate" value="True">
    <br />
    False
    <input type="radio" name="Validate" value="False">
    <br />
    <button type="submit">Save Changes</button>
</form>