@{
    ViewData["Title"] = "Gallery";
}

<style>
    .card-body {
        padding: 5px;
    }
    h1 {
        text-align: center; 
        font-size: 45px; 
        font-weight: bold;
    }
</style>

<br/>
<h1>Gallery</h1>
<br/>

<div class="container">
    <div class="row">
        <div class="card-columns">
            <div class="card">
                <div class="card-body">
                    <img src="~/img/Funds4Safety/pexels-liza-summer-6348123.jpg" alt="Image" width="100%" />
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="~/img/Funds4Safety/pexels-rodnae-productions-6646984.jpg" alt="Image" width="100%" />
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="~/img/Funds4Safety/pexels-brett-sayles-5269681.jpg" alt="Image" width="100%" />
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="~/img/Funds4Safety/pexels-rodnae-productions-6647123.jpg" alt="Image" width="100%" />
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="~/img/Funds4Safety/pexels-mikhail-nilov-7475389.jpg" alt="Image" width="100%" />
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="~/img/Funds4Safety/pexels-rodnae-productions-6646846.jpg" alt="Image" width="100%" />
                </div>
            </div>
        </div>
    </div>
</div>