@{
    ViewData["Title"] = "Gallery";
}

<section class="gallery-block cards-gallery">
    <div class="container">
        <div class="heading">
            <h1 style="text-align: center; font-size: 45px; font-weight: bold;">Gallery</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="card border-0 transform-container-hover">
                    <a class="lightbox" href="~/img/Funds4Safety/sample.jpg"><img src="~/img/Funds4Safety/sample.jpg" width="340px"/></a>
                    <div class="card-body">
                        <h6>Photo by Oleg Magni from Pexels</h6>
                        <p class="text-muted card-text">https://www.pexels.com/photo/gray-metal-cubes-decorative-1005644/</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-container-hover">
                    <a class="lightbox" href="~/img/Funds4Safety/sample.jpg"><img src="~/img/Funds4Safety/sample.jpg" width="340px" /></a>
                    <div class="card-body">
                        <h6>Photo by Oleg Magni from Pexels</h6>
                        <p class="text-muted card-text">https://www.pexels.com/photo/gray-metal-cubes-decorative-1005644/</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-container-hover">
                    <a class="lightbox" href="~/img/Funds4Safety/sample.jpg"><img src="~/img/Funds4Safety/sample.jpg" width="340px" /></a>
                    <div class="card-body">
                        <h6>Photo by Oleg Magni from Pexels</h6>
                        <p class="text-muted card-text">https://www.pexels.com/photo/gray-metal-cubes-decorative-1005644/</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>