@model decimal
@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <img src="~/img/Funds4Safety/pexels-karolina-grabowska-4197564.jpg" height="600" width="100%" />
        <div style="background-color: #F6F6F6; padding: 40px;">
            <br />
            <h1 style="text-align: center; font-size: 45px; font-weight: bold;">About Us</h1>
            <br />
            <p style="font-size:1.4em; text-align: center; padding-left: 50px; padding-right: 50px;">Funds4Safety is a crowdfunding website that aims to raise funds to provide people protective equipment and hygiene kits amidst COVID-19 Pandemic. This is to spread prevention and to give other people the opportunity to help and show their care for their compatriots. The site will be open for monetary and in-kind donations.</p>
            <br />
        </div>
        <div style="background-color: #c5eefc; padding: 40px;">
            <br />
            <h1 style="text-align: center; font-size: 45px; font-weight: bold;">Total Money Raised</h1>
            <p style="font-size: 1.4em; padding-top: 2%; text-align: center;">PHP @Model.ToString("#,##0.00")</p>
        </div>
    </div>
