@{
    ViewData["Title"] = "Proof";
}

<br />
<br />
<h1 style="text-align: center; font-size: 45px; font-weight: bold;">Proof of Transactions</h1>

<table class="table text-center" style="margin-left: auto; margin-right:auto; width:75%;">
    <thead>
        <tr>
            <th style="text-align:center;">
                <h5>Item</h5>
            </th>
            <th style="text-align:center;">
                <h5>Quantity</h5>
            </th>
            <th style="text-align:center;">
                <h5>Unit Cost</h5>
            </th>
            <th style="text-align:center;">
                <h5>Total Cost</h5>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<br />
<br />
<br />
<br />
<br />

<h1 style="text-align: center; font-size: 45px; font-weight: bold;">In-Kind</h1>

<br />

<div class="row justify-content-center">
    <a class="btn btn-primary" asp-area="" asp-controller="Funds4Safety" asp-action="DonatorsTop">Top</a> &nbsp;
    <a class="btn btn-primary" asp-area="" asp-controller="Funds4Safety" asp-action="DonatorsRecent">Recent</a>
</div>

<br />

<table class="table text-center" style="margin-left: auto; margin-right:auto; width:75%;">
    <thead>
        <tr>
            <th style="text-align:center;">
                <h5>Name</h5>
            </th>
            <th style="text-align:center;">
                <h5>Item</h5>
            </th>
            <th style="text-align:center;">
                <h5>Quantity</h5>
            </th>
            <th style="text-align:center;">
                <h5>Date</h5>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>